<div class="container">
    <h1>Select your files</h1>

    @if (files.length > 0) {
    <button mat-flat-button color="primary">Upload Files</button>
    }

    <label for="file-upload">
        <input #fileInput (change)="inputFileHandler(fileInput.files)" type="file" name="file-upload" id="file-upload"
            multiple style="display: none;">
        <div class="drop-zone" (drop)="dropHandler($event);" (dragover)="dragOverHandler($event);">
            <p>Drag one or more files to this <i>drop zone</i>.</p>
            <p><u>Or click anywhere in the box</u></p>
        </div>
    </label>

    <div>
        @for (file of files; track file.name) {
        <div>
            <span>{{$index}} --&gt;</span>
            {{file.name}}
            <button (click)="removeFile($index)" mat-icon-button color="warn"><mat-icon>cancel</mat-icon></button>
        </div>
        }
    </div>
</div>